.footer {
  background: #2e2f42;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

/* Footer info */

.footer-info {
  display: flex;
  flex-direction: column;
}

.logo.secondary {
  margin: 0 auto 16px;
}

@media only screen and (min-width: 768px) {
  .logo.secondary {
    margin: 0 0 16px 0;
  }
}

.footer-txt {
  margin: 0;
  max-width: 264px;
  color: #f4f4fd;
}

/* Footer container */

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-form {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .container {
    max-width: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    align-items: baseline;
    column-gap: 0;
  }
}

/* Socials */

.socials-wrapper {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .socials-wrapper {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .socials-wrapper {
    margin-left: 120px;
  }
}

.socials-text {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: fit-content;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .footer-socials-list {
    margin: 0;
    justify-content: flex-start;
  }

  .socials-text {
    text-align: left;
  }
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-socials-icon {
  color: #f4f4fd;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

/* Footer form */

.footer-form {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-form {
    margin-left: auto;
    flex-basis: auto;
  }
}

.footer-form-title {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-form-title {
    text-align: left;
  }
}

.footer-form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-form-wrapper {
    flex-direction: row;
    gap: 24px;
  }
}

/* Email field */

.footer-form-field {
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .footer-form-field {
    width: 264px;
  }
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: #31d0aa;
}

.footer-form-input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
}

/* Placeholder */

.footer-form-placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
}

.footer-form-input:focus::placeholder {
  opacity: 0;
}

.footer-form-input:focus + .footer-form-placeholder {
  opacity: 1;
}

/* Subscribe button */

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  max-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

.footer-form-icon {
  color: #fff;
}
